*{
    margin: 0;
    padding: 0;
}

.containerNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:  #F5EEE9;
 
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.nav li{
    display: inline; 
    margin: 5px;
}
.nav li a{
   text-decoration: none;
   color: black;
}
.leftnav{
    display: flex;
    align-items:center;
    justify-content: space-between; 
    
}

#morebtn{
    display: inline-flex;
    border: none;
    gap: 4px;
    background-color:  #F5EEE9;
    
}
.rightnav{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 100px;
    width: 500px;
    height: 80px;
    gap: 20px;
    
    
}

#trailbtn{
    width: 132px;
    height: 40px;
    padding-right: 13px;
    padding-bottom: 1px;
    padding-left: 13px;
    border-radius: 4px;
    background-color:  #12715B;
    border: 1px solid #12715B;
    border-width: 1px;
    color: white;

}
.enbtn{
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
     background-color:  #F5EEE9;
   

}

.logo{
    width:140px;
    height:40px;
}

/*  HERO SECTION*/

.hero{
    
    background-color:  #F5EEE9;
    width: 100%;
    height: 900px;
    
    
}
.heroflow{
    display: flex;
    justify-content: center;
   


}